@import "./label";
@import "./label.md.vars";

// Material Design Label
// --------------------------------------------------

.line-label.line-text-wrap,
.line-label[text-wrap] {
  line-height: $label-md-text-wrap-line-height;
}


// Material Design Stacked & Floating Labels
// --------------------------------------------------

.line-label.label-stacked {
  @include transform-origin(start, top);
  @include transform(translate3d(0, 50%, 0), scale(.75));

  transition: color 150ms $label-md-transition-timing-function;
}

.line-label.label-floating {
  @include transform(translate3d(0, 96%, 0));
  @include transform-origin(start, top);

  transition:
    color 150ms $label-md-transition-timing-function,
    transform 150ms $label-md-transition-timing-function;
}

.line-label.label-stacked,
.line-label.label-floating {
  @include margin(0, 0, 0, 0);
}

.item-select .line-label.label-floating {
  @include transform(translate3d(0, 130%, 0));
}

.item-has-focus .line-label.label-floating,
.item-has-placeholder .line-label.label-floating,
.item-has-value .line-label.label-floating {
  @include transform(translate3d(0, 50%, 0), scale(.75));
}

.item-has-focus .line-label.label-stacked,
.item-has-focus .line-label.label-floating {
  color: $label-md-text-color-focused;
}


// MD Typography
// --------------------------------------------------

.line-label {
  .slotted h1 {
    @include margin(0, 0, 2px);

    font-size: 24px;
    font-weight: normal;
  }

  .slotted h2 {
    @include margin(2px, 0);

    font-size: 16px;
    font-weight: normal;
  }

  .slotted h3,
  .slotted h4,
  .slotted h5,
  .slotted h6 {
    @include margin(2px, 0);

    font-size: 14px;
    font-weight: normal;

    line-height: normal;
  }

  .slotted p {
    @include margin(0, 0, 2px);

    font-size: 14px;

    line-height: 20px;

    text-overflow: inherit;

    overflow: inherit;
  }

  & > .slotted p  {
    color: $item-md-paragraph-text-color;
  }

  &.line-color > .slotted p {
    color: inherit;
  }
}
