@import "../../themes/line.globals";

// Card
// --------------------------------------------------

.line-card {
  /**
   * @prop --background: Background of the card
   * @prop --color: Color of the card
   */
  --line-safe-area-left: 0px;
  --line-safe-area-right: 0px;

  @include font-smoothing();

  display: block;
  position: relative;

  background: var(--background);
  color: var(--color);

  font-family: $font-family-base;

  overflow: hidden;
}


// Card Colors
// ---------------------------------------------

.line-card.line-color {
  background: current-color(base);
  color: current-color(contrast);
}

.line-card.line-color .line-inherit-color,
.line-card-header.line-color .line-inherit-color {
  color: inherit;
}


// Disabled Card
// --------------------------------------------------

.line-card.card-disabled {
  cursor: default;
  opacity: .3;
  pointer-events: none;
}


// Native
// --------------------------------------------------

.line-card {
  .card-native {
    @include text-inherit();
    @include padding(0);
    @include margin(0);

    display: block;

    width: 100%;
    min-height: var(--min-height);

    transition: var(--transition);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

    outline: none;

    background: var(--background);
  }

  .card-native::-moz-focus-inner {
    border: 0;
  }

  button, a {
    cursor: pointer;
    user-select: none;

    -webkit-user-drag: none;
  }

  // Card Button Ripple effect
  // --------------------------------------------------

  .line-ripple-effect {
    color: var(--ripple-color);
  }
}
