@import "../../themes/line.globals";

// Card Header
// --------------------------------------------------

.line-card-header {
  --background: transparent;
  --color: inherit;

  display: block;
  position: relative;

  background: var(--background);
  color: var(--color);
}

.line-card-header.line-color {
  background: current-color(base);
  color: current-color(contrast);
}
