@import "./action-sheet";
@import "./action-sheet.ios.vars";

// iOS Action Sheet
// ---------------------------------------------------

.line-action-sheet {
  --background: #{$action-sheet-ios-background-color};
  --backdrop-opacity: var(--line-backdrop-opacity, 0.4);
  --button-background: #{$action-sheet-ios-button-background};
  --button-background-activated: #{$action-sheet-ios-button-background-activated};
  --button-background-activated-opacity: .08;
  --button-background-hover: currentColor;
  --button-background-hover-opacity: .04;
  --button-background-focused: currentColor;
  --button-background-focused-opacity: .12;
  --button-background-selected: #{$action-sheet-ios-button-background-selected};
  --button-background-selected-opacity: 1;
  --button-color: #{$action-sheet-ios-button-text-color};
  --color: #{$action-sheet-ios-title-color};

  text-align: $action-sheet-ios-text-align;
}

.line-action-sheet .line-action-sheet__wrapper {
  @include margin(var(--line-safe-area-top, 0), auto, var(--line-safe-area-bottom, 0), auto);
}


// iOS Action Sheet Container
// ---------------------------------------------------

.line-action-sheet .line-action-sheet__container {
  @include padding($action-sheet-ios-padding-top, $action-sheet-ios-padding-end, $action-sheet-ios-padding-bottom, $action-sheet-ios-padding-start);
}


// iOS Action Sheet Group
// ---------------------------------------------------

.line-action-sheet .line-action-group {
  @include border-radius($action-sheet-ios-border-radius);
  @include margin(null, null, $action-sheet-ios-group-margin-bottom - 2, null);
}

.line-action-sheet .line-action-group:first-child {
  @include margin($action-sheet-ios-group-margin-top, null, null, null);
}

.line-action-sheet .line-action-group:last-child {
  @include margin(null, null, $action-sheet-ios-group-margin-bottom, null);
}


// iOS Translucent Action Sheet
// ---------------------------------------------------

@supports (backdrop-filter: blur(0)) {
  .line-action-sheet.line-action-sheet--translucent .line-action-group {
    background-color: transparent;
    backdrop-filter: $action-sheet-ios-group-translucent-filter;
  }

  .line-action-sheet.line-action-sheet--translucent .line-action-sheet-title,
  .line-action-sheet.line-action-sheet--translucent .line-action {
    background-color: transparent;
    background-image:
      linear-gradient(0deg, $action-sheet-ios-translucent-background-color, $action-sheet-ios-translucent-background-color 100%),
      linear-gradient(0deg, $action-sheet-ios-translucent-border-color, $action-sheet-ios-translucent-border-color 50%, $action-sheet-ios-translucent-background-color 50%);
    background-repeat: no-repeat;

    /* stylelint-disable-next-line all */
    background-position: top, bottom;

    background-size: 100% calc(100% - 1px), 100% 1px;
    backdrop-filter: $action-sheet-ios-button-translucent-filter;
  }

  .line-action-sheet.line-action-sheet--translucent .line-action.line-activated {
    background-color: $action-sheet-ios-translucent-background-color-activated;
    background-image: none;
  }

  .line-action-sheet.line-action-sheet--translucent .line-action--cancel {
    background: var(--button-background-selected);
  }
}

// iOS Action Sheet Border
// ---------------------------------------------------
// Border is made with a linear gradient in order
// to get the proper color and iOS blur effect

.line-action-sheet .line-action-sheet-title {
  background: $action-sheet-ios-button-background;
}


// iOS Action Sheet Title
// ---------------------------------------------------

.line-action-sheet .line-action-sheet-title {
  @include padding($action-sheet-ios-title-padding-top, $action-sheet-ios-title-padding-end, $action-sheet-ios-title-padding-bottom, $action-sheet-ios-title-padding-start);

  color: var(--color, $action-sheet-ios-title-color);

  font-size: $action-sheet-ios-title-font-size;
  font-weight: $action-sheet-ios-title-font-weight;

  text-align: $action-sheet-ios-text-align;
}

.line-action-sheet .line-action-sheet-title__sub-title {
  @include padding($action-sheet-ios-sub-title-padding-top, $action-sheet-ios-sub-title-padding-end, $action-sheet-ios-sub-title-padding-bottom, $action-sheet-ios-sub-title-padding-start);

  font-size: $action-sheet-ios-sub-title-font-size;
}


// iOS Action Sheet Buttons
// ---------------------------------------------------

.line-action-sheet .line-action {
  @include padding($action-sheet-ios-button-padding);

  height: $action-sheet-ios-button-height;

  font-size: $action-sheet-ios-button-font-size;

  contain: strict;
}

// TODO
.line-action-sheet .line-action .line-action-sheet__icon {
  @include margin-horizontal(null, $action-sheet-ios-button-icon-padding-right);

  font-size: $action-sheet-ios-button-icon-font-size;
}

.line-action-sheet .line-action:last-child {
  background-image: none;
}

.line-action-sheet .line-action--selected {
  font-weight: bold;
}

.line-action-sheet .line-action--cancel {
  font-weight: $action-sheet-ios-button-cancel-font-weight;

  &::after {
    background: var(--button-background-selected);

    opacity: var(--button-background-selected-opacity);
  }
}

// iOS Action Sheet Button: Destructive
// ---------------------------------------------------

.line-action-sheet .line-action--destructive,
.line-action-sheet .line-action--destructive.line-activated,
.line-action-sheet .line-action--destructive.line-focused {
  color: $action-sheet-ios-button-destructive-text-color;
}

@media (any-hover: hover) {
  .line-action-sheet .line-action--destructive:hover {
    color: $action-sheet-ios-button-destructive-text-color;
  }
}
