.line-input {
  position: relative;

  width: 100%;
  height: 38px;
  box-sizing: border-box;

  input {
    display: block;

    width: 100%;
    height: 100%;

    padding: 0 20px;
    padding-right: 30px;

    border: solid 1px #ebebeb;
    border-radius: 4px;

    outline: none;

    background-color: #ffffff;
    color: #1a1a1a;

    font-size: inherit;

    line-height: 1;

    box-sizing: border-box;
    resize: none;
  }
  &__prefix {
    position: absolute;
    top: 8px;
    left: 8px;
    .prefix-icon {
      color: #c0c0c0;

      cursor: default;
    }
  }
  &__suffix {
    position: absolute;
    top: 8px;
    right: 8px;
    .suffix-icon {
      color: #c0c0c0;

      cursor: default;
    }
    .clearable-icon {
      color: #999999;

      cursor: pointer;
      &:hover {
        color: #afafaf;
      }
    }
  }
}
.line-input--prefix {
  input {
    padding-left: 30px;
  }
}
.line-input--suffix {
  input {
    padding-right: 30px;
  }
}

.line-input--suffix_clear {
  input {
    padding-right: 50px;
  }
}

input:-internal-autofill-selected {
  background-color: #ffffff !important;
  background-image: none !important;
  color: #1a1a1a !important;
}
