.line-input {
  height: 38px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  input {
    height: 100%;
    width: 100%;
    font-size: inherit;
    line-height: 1;
    color: #1a1a1a;
    padding: 0 20px;
    padding-right: 30px;
    outline: none;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    display: block;
    box-sizing: border-box;
    resize: none;
    border-radius: 4px;
  }
  &__prefix {
    position: absolute;
    left: 8px;
    top: 8px;
    .prefix-icon {
      color: #c0c0c0;
      cursor: default;
    }
  }
  &__suffix {
    position: absolute;
    right: 8px;
    top: 8px;
    .suffix-icon {
      color: #c0c0c0;
      cursor: default;
    }
    .clearable-icon {
      color: #999999;
      cursor: pointer;
      &:hover {
        color: #afafaf;
      }
    }
  }
}
.line-input--prefix {
  input {
    padding-left: 30px;
  }
}
.line-input--suffix {
  input {
    padding-right: 30px;
  }
}

.line-input--suffix_clear {
  input {
    padding-right: 50px;
  }
}

input:-internal-autofill-selected {
  background-color: #ffffff !important;
  background-image: none !important;
  color: #1a1a1a !important;
}
