@import "./radio";
@import "./radio.ios.vars";

// iOS Radio
// --------------------------------------------------

.line-radio {
  --color-checked: #{line-color(primary, base)};

  width: $radio-ios-icon-width;
  height: $radio-ios-icon-height;
}

.item-radio.item-ios .line-label {
  @include margin-horizontal(0, null);
}


// iOS Radio: Disabled
// -----------------------------------------
.line-radio--disabled {
  opacity: $radio-ios-disabled-opacity;
}


// iOS Radio Within An Item
// -----------------------------------------

.line-radio.in-item {
  @include margin($radio-ios-item-end-margin-top, $radio-ios-item-end-margin-end, $radio-ios-item-end-margin-bottom, $radio-ios-item-end-margin-start);

  display: block;
  position: static;
}

.line-radio.in-item.slot-start {
  @include margin($radio-ios-item-start-margin-top, $radio-ios-item-start-margin-end, $radio-ios-item-start-margin-bottom, $radio-ios-item-start-margin-start);
}
