@import "./radio";
@import "./radio.md.vars";

// Material Design Radio
// --------------------------------------------------

.line-radio {
  --color: #{$radio-md-color-off};
  --color-checked: #{line-color(primary, base)};
  --border-width: #{$radio-md-icon-border-width};
  --border-style: #{$radio-md-icon-border-style};

  width: $radio-md-icon-width;
  height: $radio-md-icon-height;
}


// Material Design Radio: Disabled
// -----------------------------------------

// .item-md.item-radio-disabled .line-label {
.line-radio--disabled {
  opacity: $radio-md-disabled-opacity;
}


// Material Design Radio Within An Item
// -----------------------------------------

.line-radio.in-item {
  @include margin(
    $radio-md-item-end-margin-top,
    $radio-md-item-end-margin-end,
    $radio-md-item-end-margin-bottom,
    $radio-md-item-end-margin-start
  );

  display: block;
  position: static;
}

.line-radio.in-item.slot-start {
  @include margin(
    $radio-md-item-start-margin-top,
    $radio-md-item-start-margin-end,
    $radio-md-item-start-margin-bottom,
    $radio-md-item-start-margin-start
  );
}
