@import "../../themes/line.globals.ios";

// Radio
// --------------------------------------------------

.line-radio {
  /**
   * @prop --color: Color of the radio
   * @prop --color-checked: Color of the checked radio
   */
   --inner-border-radius: 50%;

   display: inline-block;
   position: relative;

   box-sizing: border-box;

   user-select: none;

   z-index: $z-index-item-input;
}

.line-radio--disabled {
  pointer-events: none;
}

.line-radio {
  button {
    @include input-cover();
  }
}
