!.*.js
!{src,tests,packages}/**/.*.js

dist
**/dist
node_modules
**/node_modules

# temporarily stop lint
packages/playground
packages/website
packages/ts-auto-import

packages/line/src/**/*.vue

packages/line/src/components/**/test
packages/line/src/utils/model
packages/line/src/utils/input-shims
packages/line/src/utils/layout