!.*.js
!{src,tests,packages}/**/.*.js

dist
node_modules
**/node_modules

packages/global.d.ts
packages/**/dist
packages/**/index.js

# temporarily stop lint
src/components/**/test
src/utils/model
src/utils/input-shims