@import "./item";
@import "./item.md.vars";
@import "../label/label.md.vars";

// Material Design Item
// --------------------------------------------------

.line-item {
  --min-height: #{$item-md-min-height};
  --background: #{$item-md-background};
  --background-activated: var(--background);
  --background-focused: #{$item-md-background-focused};
  --background-hover: #{$item-md-background-hover};
  --border-color: #{$item-md-border-bottom-color};
  --color: #{$item-md-color};
  --transition: background-color 300ms cubic-bezier(.4, 0, .2, 1);
  --padding-start: #{$item-md-padding-start};
  --color: #{$item-md-color};
  --border-color: #{$item-md-border-bottom-color};
  --inner-padding-end: #{$item-md-padding-end};
  --inner-border-width: #{0 0 $item-md-border-bottom-width 0};
  --highlight-height: 2px;
  --highlight-color-focused: #{$item-md-input-highlight-color};
  --highlight-color-valid: #{$item-md-input-highlight-color-valid};
  --highlight-color-invalid: #{$item-md-input-highlight-color-invalid};

  font-size: $item-md-font-size;
  font-weight: normal;

  text-transform: none;
}


// Material Design Item: Focused & Activated
// --------------------------------------------------

.line-item.line-focused.line-activated .item-native {
  background: var(--background-focused);
  color: var(--color-focused);
}

.line-item.line-color.line-activated .item-native {
  background: current-color(base);
  color: current-color(contrast);
}

.line-item.line-color.line-focused.line-activated .item-native {
  background: current-color(shade);
  color: current-color(contrast);
}


// Material Design Item Lines
// --------------------------------------------------

// Default input items have a full border
.line-item.item-interactive {
  --border-width: #{0 0 $item-md-border-bottom-width 0};
  --inner-border-width: 0;
  --show-full-highlight: 1;
  --show-inset-highlight: 0;
}

// Full lines - apply the border to the item
// Inset lines - apply the border to the item inner
.line-item.item-lines-full {
  --border-width: #{0 0 $item-md-border-bottom-width 0};
  --show-full-highlight: 1;
  --show-inset-highlight: 0;
}

.line-item.item-lines-inset {
  --inner-border-width: #{0 0 $item-md-border-bottom-width 0};
  --show-full-highlight: 0;
  --show-inset-highlight: 1;
}

// Full lines - remove the border from the item inner (inset list items)
// Inset lines - remove the border on the item (full list items)
// No lines - remove the border on both (full / inset list items)
.line-item.item-lines-inset,
.line-item.item-lines-none {
  --border-width: 0;
  --show-full-highlight: 0;
}

.line-item.item-lines-full,
.line-item.item-lines-none {
  --inner-border-width: 0;
  --show-inset-highlight: 0;
}


// Material Design Multi-line Item
// --------------------------------------------------

// TODO this works if manually adding the class / should it work with prop?
// Multi-line items should align the slotted content at the top
.line-item.item-multi-line .item-native > .slotted.slot-start,
.line-item.item-multi-line .slotted.slot-end {
  @include margin($item-md-multi-line-slot-margin-top, $item-md-multi-line-slot-margin-end, $item-md-multi-line-slot-margin-bottom, $item-md-multi-line-slot-margin-start);

  align-self: flex-start;
}

// Material Design Item Slots
// --------------------------------------------------

.line-item .item-native > .slotted.slot-start {
  @include margin-horizontal($item-md-start-slot-margin-start, $item-md-start-slot-margin-end);
}

.line-item .slotted.slot-end {
  @include margin-horizontal($item-md-end-slot-margin-start, $item-md-end-slot-margin-end);
}


// Material Design Slotted Icon
// --------------------------------------------------

.line-item .slotted.line-icon {
  color: $item-md-icon-slot-color;

  font-size: $item-md-icon-slot-font-size;
}

.line-item.line-color .slotted.line-icon {
  color: current-color(contrast);
}

.line-item .slotted.line-icon {
  @include margin($item-md-icon-slot-margin-top, $item-md-icon-slot-margin-end, $item-md-icon-slot-margin-bottom, $item-md-icon-slot-margin-start);
}

.line-item .item-native > .slotted.line-icon.slot-start {
  @include margin-horizontal($item-md-icon-start-slot-margin-start, $item-md-icon-start-slot-margin-end);
}

.line-item .slotted.line-icon.slot-end {
  @include margin-horizontal($item-md-icon-end-slot-margin-start, $item-md-icon-end-slot-margin-end);
}


// Material Design Slotted Toggle
// --------------------------------------------------

.line-item .item-native > .slotted.line-toggle.slot-start,
.line-item .slotted.line-toggle.slot-end {
  @include margin(0);
}


// Material Design Slotted Note
// --------------------------------------------------

.line-item .slotted.line-note {
  @include margin(0);

  align-self: flex-start;

  font-size: $item-md-note-slot-font-size;
}

.line-item .slotted.line-note {
  @include padding($item-md-note-slot-padding-top, $item-md-note-slot-padding-end, $item-md-note-slot-padding-bottom, $item-md-note-slot-padding-start);
}

.line-item .item-native > .slotted.line-note.slot-start {
  @include padding-horizontal($item-md-note-start-slot-padding-start, $item-md-note-start-slot-padding-end);
}

.line-item .slotted.line-note.slot-end {
  @include padding-horizontal($item-md-note-end-slot-padding-start, $item-md-note-end-slot-padding-end);
}


// Material Design Item Avatar
// --------------------------------------------------

.line-item .slotted.line-avatar {
  width: $item-md-avatar-width;
  height: $item-md-avatar-height;
}


// Material Design Item Thumbnail
// --------------------------------------------------

.slotted.line-thumbnail {
  width: $item-md-thumbnail-width;
  height: $item-md-thumbnail-height;
}

// Material Design Item Avatar/Thumbnail
// --------------------------------------------------

.slotted.line-avatar,
.slotted.line-thumbnail {
  @include margin($item-md-media-slot-margin-top, $item-md-media-slot-margin-end, $item-md-media-slot-margin-bottom, $item-md-media-slot-margin-start);
}

.slotted.line-avatar.slot-start,
.slotted.line-thumbnail.slot-start {
  @include margin-horizontal($item-md-media-start-slot-margin-start, $item-md-media-start-slot-margin-end);
}

.slotted.line-avatar.slot-end,
.slotted.line-thumbnail.slot-end {
  @include margin-horizontal($item-md-media-end-slot-margin-start, $item-md-media-end-slot-margin-end);
}


// Material Design Slotted Label
// --------------------------------------------------

.line-item .slotted.line-label {
  @include margin($item-md-label-margin-top, $item-md-label-margin-end, $item-md-label-margin-bottom, $item-md-label-margin-start);
}



// Material Design Floating/Stacked Label
// --------------------------------------------------

.line-item.item-label-stacked .slotted.slot-end,
.line-item.item-label-floating .slotted.slot-end {
  @include margin($item-md-label-slot-end-margin-top, $item-md-label-slot-end-margin-end, $item-md-label-slot-end-margin-bottom, $item-md-label-slot-end-margin-start);
}


// Material Design Toggle/Radio Item
// --------------------------------------------------

.line-item.item-toggle .slotted.line-label,
.line-item.item-radio .slotted.line-label {
  @include margin-horizontal(0, null);
}


// Material Design Item Button
// --------------------------------------------------

.line-item .slotted.button-small {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: .6em;
  --padding-end: .6em;

  height: 25px;

  font-size: 12px;
}


// Material Design Radio Item Label: Checked
// -----------------------------------------

// .item-radio-checked.item-md line-label {
//   color: $radio-md-color-on;
// }


// Material Design Stacked & Floating Inputs
// --------------------------------------------------

.line-item.item-label-floating,
.line-item.item-label-stacked {
  --min-height: 55px;
}

// TODO: refactor, line-item and line-textarea have the same CSS
.line-item.item-label-stacked .slotted.line-select,
.line-item.item-label-floating .slotted.line-select {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 0;
}

.line-item.item-has-focus:not(.line-color) .slotted.line-label--stacked,
.line-item.item-has-focus:not(.line-color) .slotted.line-label--floating {
  color: $label-md-text-color-focused;
}
