@import "./footer";
@import "./footer.ios.vars";

// iOS Footer
// --------------------------------------------------

.line-footer .line-toolbar:first-child {
  --border-width: #{$hairlines-width} 0 0;
}

@supports (backdrop-filter: blur(0)) {
  .line-footer--translucent {
    backdrop-filter: $footer-ios-translucent-filter;
  }

  .line-footer--translucent .line-toolbar {
    --opacity: .8;
    --backdrop-filter: #{$footer-ios-translucent-filter};
  }
}

.line-footer.line-no-border .line-toolbar:first-child {
  --border-width: 0;
}