.abstract-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  cursor: pointer;

  .content {
    display: flex;
    justify-items: center;
    flex-direction: column;
  }
}
