@import "./loading";
@import "./loading.ios.vars";

// iOS Loading Indicator
// --------------------------------------------------

.line-loading {
  --background: #{$loading-ios-background-color};
  --max-width: #{$loading-ios-max-width};
  --max-height: #{$loading-ios-max-height};
  --spinner-color: #{$loading-ios-spinner-color};
  --backdrop-opacity: var(--line-backdrop-opacity, 0.3);

  color: $loading-ios-text-color;

  font-size: $loading-ios-font-size;
}

.line-loading__wrapper {
  @include border-radius($loading-ios-border-radius);
  @include padding($loading-ios-padding-top, $loading-ios-padding-end, $loading-ios-padding-bottom, $loading-ios-padding-start);
}


// iOS Translucent Loading
// -----------------------------------------

@supports (backdrop-filter: blur(0)) {
  .line-loading--translucent .line-loading__wrapper {
    background-color: $loading-ios-translucent-background-color;
    backdrop-filter: $loading-ios-translucent-filter;
  }
}


// iOS Loading Content
// -----------------------------------------

.line-loading__content {
  font-weight: $loading-ios-content-font-weight;
}

.line-loading__spinner + .line-loading__content {
  @include margin-horizontal(16px, null);
}
