.line {
  &-tab-button {
    display: flex;
    position: relative;

    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    .content {
      margin-bottom: 8px;
    }

    &--checked {
      color: var(--primary);
    }

    &--disabled {
      color: #9f9f9f;

      cursor: not-allowed;
    }
  }
}