@import "./check-indicator";

// Material Design Checkbox-Indeterminate
// --------------------------------------------------

.line-check-indicator path {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  stroke-width: 3;
}

// Material Design Checkbox: Checked / Indeterminate
// --------------------------------------------------------

.line-check-indicator--checked.line-check-indicator path,
.line-check-indicator--indeterminate.line-check-indicator path {
  stroke-dashoffset: 0;

  transition: stroke-dashoffset 90ms linear 90ms;
}
