@import "./check-box";
@import "./check-box.md.vars";

// Material Design Checkbox
// --------------------------------------------------

.line-check-box {
  // Border
  --border-radius: calc(var(--size) * .125);
  --border-width: #{$checkbox-md-icon-border-width};
  --border-style: #{$checkbox-md-icon-border-style};
  --border-color: #{$checkbox-md-icon-border-color-off};

  // Background
  --background: #{$checkbox-md-icon-background-color-off};

  // Transition
  --transition: #{background $checkbox-md-transition-duration $checkbox-md-transition-easing};

  // Size
  --size: #{$checkbox-md-icon-size};

  width: var(--size);
  height: var(--size);
}

// Material Design Checkbox: Disabled
// --------------------------------------------------------

// TODO .item-md.item-checkbox-disabled .line-label
.line-check-box--disabled {
  opacity: $checkbox-md-disabled-opacity;
}

// Material Design Checkbox Within An Item
// --------------------------------------------------------

.line-check-box.in-item {
  // end position by default
  @include margin($checkbox-md-item-end-margin-top, $checkbox-md-item-end-margin-end, $checkbox-md-item-end-margin-bottom, $checkbox-md-item-end-margin-start);

  display: block;

  position: static;
}

.line-check-box.in-item.slot-start {
  @include margin($checkbox-md-item-start-margin-top, $checkbox-md-item-start-margin-end, $checkbox-md-item-start-margin-bottom, $checkbox-md-item-start-margin-start);
}

// REVIEW
// .checkbox-md + .item-inner .line-label {
//   @include margin-horizontal(0, null);
// }
