@import "../../themes/line.globals";


// List
// --------------------------------------------------

.line-list {
  @include margin(0);
  @include padding(0);

  display: block;

  contain: content;
  list-style-type: none;
}

.line-list--inset {
  transform: translateZ(0);

  overflow: hidden;
}
