@import "./popover";
@import "./popover.ios.vars";

// iOS Popover
// --------------------------------------------------

.line-popover {
  --width: #{$popover-ios-width};
  --max-height: #{$popover-ios-max-height};
  --box-shadow: none;
  --backdrop-opacity: var(--line-backdrop-opacity, 0.08);
}

.line-popover__content {
  @include border-radius($popover-ios-border-radius);
}


// Popover Arrow
// -----------------------------------------

.line-popover__arrow {
  display: block;
  position: absolute;

  width: 20px;
  height: 10px;

  overflow: hidden;
}

.line-popover__arrow::after {
  @include position(3px, null, null, 3px);
  @include border-radius(3px);

  position: absolute;

  width: 14px;
  height: 14px;

  transform: rotate(45deg);

  background: var(--background);

  content: "";
  z-index: $z-index-overlay-wrapper;
}

.line-popover--bottom .line-popover__arrow {
  top: auto;
  bottom: -10px;
}

.line-popover--bottom .line-popover__arrow::after {
  top: -6px;
}

// Translucent Popover
// -----------------------------------------

@supports (backdrop-filter: blur(0)) {
  .line-popover--translucent .line-popover__content,
  .line-popover--translucent .line-popover__arrow::after {
    background: $popover-ios-translucent-background-color;
    backdrop-filter: $popover-ios-translucent-filter;
  }
}
