.line-note {
  /**
   * @prop --color: Color of the note
   */
  color: var(--color);
  font-family: var(--line-font-family, inherit);
  box-sizing: border-box;
}

.line-note.line-color {
  color: var(--line-color-base);
}

.line-note {
  --color: var(--line-color-step-600, #666666);
  font-size: 14px;
}