@import '../../themes/skyline.globals';

.line-icon.line-svg-icon {
  display: inline-block;

  width: 1em;
  height: 1em;

  font-size: 24px;

  contain: strict;

  svg {
    display: block;

    width: 100%;
    height: 100%;

    transition: all 0.6s ease-in-out;
  }

  &.line-color {
    color: current-color(base);
  }

  &.line-svg-icon--small {
    font-size: 18px !important;
  }

  &.line-svg-icon--large {
    font-size: 32px !important;
  }
}
