@import "./collapse-item.vars";

//  Collapse Item
// --------------------------------------------------

.line-collapse-item {
  width: 100%;

  transition: all 0.3s;

  border-bottom: 1px solid #ebebeb;

  background-color: #ffffff;

  .line-collapse-item__title {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: $collapse-item-height;

    padding: $collapse-item-padding;

    color: $collapse-item-title-color;

    font-size: $collapse-item-font-size;

    cursor: pointer;

    &-icon {
      transition: transform 0.3s;

      color: $collapse-item-icon-color;

      user-select: none;
    }

    &-icon--rotate {
      transform: rotate(-180deg);
    }
  }
  .line-collapse-item__title--disabled {
    color: $collapse-item-title-disabled-color;

    cursor: not-allowed;

    .line-collapse-item__title-icon {
      color: $collapse-item-icon-diasabled-color;
    }
  }

  .line-collapse-item__wrapper {
    width: 100%;

    will-change: height;

    overflow: hidden;
  }

  .line-collapse-item__content {
    padding: 10px 16px;

    background-color: #fff;

    font-size: 12px;

    line-height: 1.5;
  }
}
