// Infinite Scroll
// --------------------------------------------------

.line-infinite-scroll {
  display: none;

  width: 100%;
}

.line-infinite-scroll.line-infinite-scroll--enabled {
  display: block;
}
