@import "../../themes/skyline.globals";

// switch
// --------------------------------------------------

.line-switch {
  /**
   * @prop --background: Background of the switch
   * @prop --background-checked: Background of the switch when checked
   * @prop --handle-background: Background of the switch handle
   * @prop --handle-background-checked: Background of the switch handle when checked
   */

  /* stylelint-disable-next-line declaration-no-important */
  box-sizing: content-box !important;

  display: inline-block;

  outline: none;

  contain: content;
  cursor: pointer;
  touch-action: none;
  user-select: none;
  z-index: $z-index-item-input;
}

.ion-focused input {
  border: 2px solid #5e9ed6;
}

.line-switch--disabled {
  pointer-events: none;
}

button {
  @include input-cover();
}
