.line {
  &-check-indicator {
    margin-right: 4px;

    border: 2px solid #999999;
    border-radius: 2px;

    background-color: transparent;

    cursor: pointer;

    svg {
      path {
        fill: none;
        stroke: #ffffff;
        stroke-width: 4;

        transform: scale(0, 0);
        transform-origin: center;
      }
    }

    &--checked {
      border-color: #10c29b;

      background-color: #10c29b;

      svg {
        path {
          transform: scale(0.8, 0.8);

          transition: transform 90ms linear 80ms;
          transition-timing-function: cubic-bezier(0.4, 0, 1, 1), cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }
      }
    }

    &--disabled {
      border-color: #afafaf;
    }
  }
}
