@import "../themes/line.globals";
@import "../themes/line.mixins";

// Text Alignment
// --------------------------------------------------
// Creates text alignment attributes based on screen size

@each $breakpoint in map-keys($screen-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $screen-breakpoints);

  @include media-breakpoint-up($breakpoint, $screen-breakpoints) {
    // Provide `[text-{bp}]` attributes for aligning the text based
    // on the breakpoint
    .line-text#{$infix}-center {
      text-align: center !important;
    }

    .line-text#{$infix}-justify {
      text-align: justify !important;
    }

    .line-text#{$infix}-start {
      text-align: start !important;
    }

    .line-text#{$infix}-end {
      text-align: end !important;
    }

    .line-text#{$infix}-left {
      text-align: left !important;
    }

    .line-text#{$infix}-right {
      text-align: right !important;
    }

    .line-text#{$infix}-nowrap {
      white-space: nowrap !important;
    }

    .line-text#{$infix}-wrap {
      white-space: normal !important;
    }
  }
}
