.range-slider {
  position: relative;
  height: 2px;
  &__container {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
    .step {
      width: 2px;
      height: 2px;
      background-color: rgba($color: #000000, $alpha: 0.8);
      position: absolute;
      top: 0px;
      border-radius: 50%;
      z-index: -1;
    }
    .step--active {
      background-color: #10c29b;
    }
  }

  &__bar {
    width: 100%;
    height: 100%;
    background-color: #10c29b;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  &__button {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -14px;
    &::after {
      content: '';
      display: block;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 1px 6px 0 rgba($color: #000000, $alpha: 0.3),
        0 0px 4px 0 rgba($color: #000000, $alpha: 0.1) inset;
    }
    &:hover {
      cursor: grab;
    }

    &.is-dragging {
      cursor: grabbing;
    }
  }
}
.range-slider--vertical {
  width: 2px;
  .range-slider__button {
    left: -14px;
  }
  .range-slider__container {
    .step {
      left: 0px;
    }
  }
}
