@import "../../themes/skyline.globals";
@import "./grid.mixins";

// Grid
// --------------------------------------------------

/// @prop - The padding for the grid
$grid-padding:               var(--line-grid-padding, 5px) !default;

/// @prop - The padding for the grid at different breakpoints
$grid-paddings: (
  xs: var(--line-grid-padding-xs, $grid-padding),
  sm: var(--line-grid-padding-sm, $grid-padding),
  md: var(--line-grid-padding-md, $grid-padding),
  lg: var(--line-grid-padding-lg, $grid-padding),
  xl: var(--line-grid-padding-xl, $grid-padding)
) !default;

/// @prop - Width of the grid for different screen sizes when fixed is enabled
$grid-widths: (
  xs: var(--line-grid-width-xs, var(--line-grid-width, 100%)),
  sm: var(--line-grid-width-sm, var(--line-grid-width, 540px)),
  md: var(--line-grid-width-md, var(--line-grid-width, 720px)),
  lg: var(--line-grid-width-lg, var(--line-grid-width, 960px)),
  xl: var(--line-grid-width-xl, var(--line-grid-width, 1140px))
) !default;
