@import "./menu";
@import "./menu.ios.vars";

// iOS Menu
// --------------------------------------------------

.line-menu.line-menu--type-overlay .line-menu__inner {
  box-shadow: $menu-ios-box-shadow-overlay;
}


// iOS Menu Push
// --------------------------------------------------

.line-menu.line-menu--type-push {
  z-index: $z-index-menu-overlay;
}

.line-menu.line-menu--type-push .show-overlay {
  display: block;
}
