.line-list {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  contain: content;
  list-style-type: none;
}

.line-list--inset {
  transform: translateZ(0);
  overflow: hidden;
}

.line-list {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--line-item-background, var(--line-background-color, #fff));
}

.line-list > .input:last-child::after {
  left: 0;
}
[dir=rtl] .line-list > .input:last-child::after {
  right: unset;
  right: 0;
  left: unset;
}

.line-list--inset {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .line-list--inset {
    margin-left: unset;
    margin-right: unset;
    margin-inline-start: 16px;
    margin-inline-end: 16px;
  }
}

.line-list--inset .line-item:first-child {
  --border-radius: 2px 2px 0 0;
  --border-width: 0 0 1px 0;
}

.line-list--inset .line-item:last-child {
  --border-radius: 0 0 2px, 2px;
  --border-width: 0;
}

.line-list--inset .item-interactive {
  --padding-start: 0;
  --padding-end: 0;
}

.line-list--inset + .line-list--inset {
  margin-top: 0;
}
.line-list--lines-none .item {
  --border-width: 0;
  --inner-border-width: 0;
}

.line-list--lines-full .item,
.line-list .item-lines-full {
  --border-width: 0 0 1px 0;
}

.line-list--lines-full .item {
  --inner-border-width: 0;
}

.line-list--lines-inset .item,
.line-list .item-lines-inset {
  --inner-border-width: 0 0 1px 0;
}

.line-list .item-lines-inset {
  --border-width: 0;
}

.line-list .item-lines-full {
  --inner-border-width: 0;
}

.line-list .item-lines-none {
  --border-width: 0;
  --inner-border-width: 0;
}

.line-card .line-list {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}