.line-tab-button {
  /**
   * @prop --background: Background of the tab button
   * @prop --background-focused: Background of the tab button when focused with the tab key
   *
   * @prop --color: Color of the tab button
   * @prop --color-selected: Color of the selected tab button
   *
   * @prop --padding-top: Top padding of the tab button
   * @prop --padding-end: Right padding if direction is left-to-right, and left padding if direction is right-to-left of the tab button
   * @prop --padding-bottom: Bottom padding of the tab button
   * @prop --padding-start: Left padding if direction is left-to-right, and right padding if direction is right-to-left of the tab button
   *
   * @prop --ripple-color: Color of the button ripple effect
   */
  --ripple-color: var(--color-selected);
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: none;
  background: var(--background);
  color: var(--color);
}

a {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: var(--padding-start);
  padding-right: var(--padding-end);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  white-space: inherit;
  display: flex;
  position: relative;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-user-drag: none;
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  a {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
  }
}

.line-focused {
  background: var(--background-focused);
}

@media (any-hover: hover) {
  a:hover {
    color: var(--color-selected);
  }
}
.line-tab-button--selected {
  color: var(--color-selected);
}

.line-tab-button--hidden {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}

.line-tab-button--disabled {
  pointer-events: none;
  opacity: 0.4;
}

.line-tab-button .line-label,
.line-tab-button .line-icon {
  display: block;
  align-self: center;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.line-tab-button .line-label {
  order: 0;
}

.line-tab-button .line-icon {
  order: -1;
  height: 1em;
}

.tab-has-label-only .line-label {
  white-space: normal;
}

.line-tab-button .line-badge {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.tab-layout-icon-start {
  flex-direction: row;
}

.tab-layout-icon-end {
  flex-direction: row-reverse;
}

.tab-layout-icon-bottom {
  flex-direction: column-reverse;
}

.tab-layout-icon-hide .line-icon {
  display: none;
}

.tab-layout-label-hide .line-label {
  display: none;
}

.line-ripple-effect {
  color: var(--ripple-color);
}