$eva-icons-font-path: '' !default;
$eva-icons-font-name: 'Eva-Icons' !default;
$eva-icons-font-family: 'Eva-Icons' !default;
$eva-icons-font-size: inherit !default;

$eva-icons-font-file: $eva-icons-font-path + $eva-icons-font-name;
