@import "../../themes/skyline.globals";

// Item Sliding
// --------------------------------------------------

.line-item-sliding {
  display: block;
  position: relative;

  width: 100%;

  overflow: hidden;

  user-select: none;
}

.line-item-sliding .line-item,
.line-item-sliding .line-item-divider,
.line-item-sliding .line-item-group {
  user-select: none;
}

.line-item-sliding--active-slide .line-item,
.line-item-sliding--active-slide .line-item-divider,
.line-item-sliding--active-slide .line-item-group {
  position: relative;

  transition: transform 500ms cubic-bezier(.36, .66, .04, 1);

  opacity: 1;
  z-index: $z-index-item-options + 1;
  pointer-events: none;
  will-change: transform;
}


.line-item-sliding--active-swipe-end .line-item-options--end .line-item-option--expandable {
  @include multi-dir() {
    /* stylelint-disable-next-line property-blacklist */
    padding-left: 100%;
  }

  @include ltr() {
    order: 1;
  }

  @include rtl() {
    order: -1;
  }

  transition-duration: .6s;
  transition-property: padding-left;
}

.line-item-sliding--active-swipe-start .line-item-options--start .line-item-option--expandable {
  @include multi-dir() {
    /* stylelint-disable-next-line property-blacklist */
    padding-right: 100%;
  }

  @include ltr() {
    order: -1;
  }

  @include rtl() {
    order: 1;
  }

  transition-duration: .6s;
  transition-property: padding-right;
}
