.line-card-header {
  --background: transparent;
  --color: inherit;
  display: block;
  position: relative;
  background: var(--background);
  color: var(--color);
}

.line-card-header.line-color {
  background: var(--line-color-base);
  color: var(--line-color-contrast);
}