// Flex Utilities
// --------------------------------------------------
// Creates flex classes to align flex containers
// and items

// Align Self
// --------------------------------------------------

.line-align-self-start {
  align-self: flex-start !important;
}

.line-align-self-end {
  align-self: flex-end !important;
}

.line-align-self-center {
  align-self: center !important;
}

.line-align-self-stretch {
  align-self: stretch !important;
}

.line-align-self-baseline {
  align-self: baseline !important;
}

.line-align-self-auto {
  align-self: auto !important;
}


// Flex Wrap
// --------------------------------------------------

.line-wrap {
  flex-wrap: wrap !important;
}

.line-nowrap {
  flex-wrap: nowrap !important;
}

.line-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}


// Justify Content
// --------------------------------------------------

.line-justify-content-start {
  justify-content: flex-start !important;
}

.line-justify-content-center {
  justify-content: center !important;
}

.line-justify-content-end {
  justify-content: flex-end !important;
}

.line-justify-content-around {
  justify-content: space-around !important;
}

.line-justify-content-between {
  justify-content: space-between !important;
}

.line-justify-content-evenly {
  justify-content: space-evenly !important;
}


// Align Items
// --------------------------------------------------

.line-align-items-start {
  align-items: flex-start !important;
}

.line-align-items-center {
  align-items: center !important;
}

.line-align-items-end {
  align-items: flex-end !important;
}

.line-align-items-stretch {
  align-items: stretch !important;
}

.line-align-items-baseline {
  align-items: baseline !important;
}
