:root {
  --primary: #10c29b;
  --success: #75c94c;
  --warning: #ff9800;
  --danger: #f44336;
  --light: #cacaca;
  --dark: #1a1a1a;

  --primary-light: #10c29b20;
  --success-light: #75c94c20;
  --warning-light: #ff980020;
  --danger-light: #f4433620;
  --light-light: #cacaca80;
  --dark-light: #1a1a1a20;
}
