:root {
  // normal
  --primary: #10c29b;
  --success: #75c94c;
  --warning: #ff9800;
  --danger: #f44336;
  --light: #cacaca;
  --dark: #1a1a1a;
  // light
  --primary-light: #10c29b20;
  --success-light: #75c94c20;
  --warning-light: #ff980020;
  --danger-light: #f4433620;
  --light-light: #cacaca80;
  --dark-light: #1a1a1a20;
  // hover
  --primary-hover: #10c29bcc;
  --success-hover: #75c94ccc;
  --warning-hover: #ff9800cc;
  --danger-hover: #f44336cc;
  --light-hover: #cacacacc;
  --dark-hover: #1a1a1acc;
}
