@import "./button";
@import "./button.md.vars";

// Material Design Button
// --------------------------------------------------

.line-button {
  --border-radius: #{$button-md-border-radius};
  --padding-top: #{$button-md-padding-top};
  --padding-bottom: #{$button-md-padding-bottom};
  --padding-start: #{$button-md-padding-start};
  --padding-end: #{$button-md-padding-end};
  --transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),
                background-color 15ms linear,
                color 15ms linear;

  @include margin($button-md-margin-top, $button-md-margin-end, $button-md-margin-bottom, $button-md-margin-start);

  height: #{$button-md-height};

  font-size: #{$button-md-font-size};
  font-weight: #{$button-md-font-weight};

  letter-spacing: #{$button-md-letter-spacing};

  text-transform: #{$button-md-text-transform};
}

// Material Design Solid Button
// --------------------------------------------------

.line-button--solid {
  --background-activated: var(--background);
  --box-shadow: #{$button-md-box-shadow};
}

.line-button--solid.line-activated {
  --box-shadow: #{$button-md-box-shadow-activated};
}

// Material Design Outline Button
// --------------------------------------------------

.line-button--outline {
  --border-width: 2px;
  --border-style: solid;
  --box-shadow: none;
  --background-activated: transparent;
  --background-focused: #{line-color(primary, base, .1)};
  --background-hover: #{line-color(primary, base, .04)};
  --color-activated: #{line-color(primary, base)};
}

.line-button--outline.line-activated.line-color .button-native {
  background: transparent;
}


// Material Design Clear Button
// --------------------------------------------------

.line-button--clear {
  --background-activated: transparent;
  --background-focused: #{line-color(primary, base, .1)};
  --background-hover: #{line-color(primary, base, .04)};
  --color-activated: #{line-color(primary, base)};
  --color-focused: #{line-color(primary, base)};
}


// Material Design Round Button
// --------------------------------------------------

.line-button--round {
  --border-radius: #{$button-md-round-border-radius};
  --padding-top: #{$button-md-round-padding-top};
  --padding-start: #{$button-md-round-padding-start};
  --padding-end: #{$button-md-round-padding-end};
  --padding-bottom: #{$button-md-round-padding-bottom};
}


// Material Design Button Sizes
// --------------------------------------------------

.line-button--large {
  --padding-top: #{$button-md-large-padding-top};
  --padding-start: #{$button-md-large-padding-start};
  --padding-end: #{$button-md-large-padding-end};
  --padding-bottom: #{$button-md-large-padding-bottom};

  height: #{$button-md-large-height};

  font-size: #{$button-md-large-font-size};
}

.line-button--small {
  --padding-top: #{$button-md-small-padding-top};
  --padding-start: #{$button-md-small-padding-start};
  --padding-end: #{$button-md-small-padding-end};
  --padding-bottom: #{$button-md-small-padding-bottom};

  height: #{$button-md-small-height};

  font-size: #{$button-md-small-font-size};
}

.line-button--vertical {
  --padding-top: #{$button-md-padding-start};
  --padding-bottom: #{$button-md-padding-end};

  height: unset;
}

.line-button--vertical.line-button--large {
  --padding-top: #{$button-md-large-padding-start};
  --padding-bottom: #{$button-md-large-padding-end};
}

.line-button--vertical.line-button--small {
  --padding-top: #{$button-md-small-padding-start};
  --padding-bottom: #{$button-md-small-padding-end};
}


// MD strong Button
// --------------------------------------------------

.line-button--strong {
  font-weight: #{$button-md-strong-font-weight};
}

::slotted(.line-icon[slot="icon-only"]) {
  @include padding(0);
}


// Material Design Button: Hover
// --------------------------------------------------

@media (any-hover: hover) {
  .line-button--solid.line-color:hover .button-native {
    background: #{current-color(tint)};
  }

  .line-button--clear.line-color:hover .button-native,
  .line-button--outline.line-color:hover .button-native {
    background: #{current-color(base, .04)};
  }
}
