@import "./button";
@import "./button.ios.vars";


// iOS Button
// --------------------------------------------------

.line-button {
  --border-radius: #{$button-ios-border-radius};
  --padding-top: #{$button-ios-padding-top};
  --padding-bottom: #{$button-ios-padding-bottom};
  --padding-start: #{$button-ios-padding-start};
  --padding-end: #{$button-ios-padding-end};
  --transition: background-color, opacity 100ms linear;

  @include margin($button-ios-margin-top, $button-ios-margin-end, $button-ios-margin-bottom, $button-ios-margin-start);

  height: #{$button-ios-height};

  font-size: #{$button-ios-font-size};
  font-weight: #{$button-ios-font-weight};

  letter-spacing: #{$button-ios-letter-spacing};
}

// iOS Solid Button
// --------------------------------------------------

.line-button--solid {
  --background-activated: #{line-color(primary, shade)};
}

.line-button--solid.line-activated {
  --opacity: #{$button-ios-opacity-activated};
}

.line-button--solid.line-activated.line-color .line-button__content {
  background: current-color(shade);
}

// iOS Outline Button
// --------------------------------------------------

.line-button--outline {
  --border-radius: #{$button-ios-outline-border-radius};
  --border-width: #{$button-ios-outline-border-width};
  --border-style: #{$button-ios-outline-border-style};
  --background-activated: #{line-color(primary, base)};
  --background-focused: #{line-color(primary, base, .1)};
  --color-activated: #{line-color(primary, contrast)};
}

.line-button--outline.line-activated.line-color .line-button__content {
  background: current-color(base);
  color: current-color(contrast);
}


// iOS Clear Button
// --------------------------------------------------

.line-button--clear.line-activated {
  --opacity: #{$button-ios-clear-opacity-activated};
}

.line-button--clear {
  --background-activated: transparent;
  --background-focused: #{line-color(primary, base, .1)};
  --color-activated: #{line-color(primary, base)};
  --color-focused: #{line-color(primary, base)};

  font-size: #{$button-ios-clear-font-size};
  font-weight: #{$button-ios-clear-font-weight};

  letter-spacing: #{$button-ios-clear-letter-spacing};
}


// iOS Button Sizes
// --------------------------------------------------

.line-button--large {
  --border-radius: #{$button-ios-large-border-radius};
  --padding-top: #{$button-ios-large-padding-top};
  --padding-start: #{$button-ios-large-padding-start};
  --padding-end: #{$button-ios-large-padding-end};
  --padding-bottom: #{$button-ios-large-padding-bottom};

  height: #{$button-ios-large-height};

  font-size: #{$button-ios-large-font-size};
}

.line-button--small {
  --border-radius: #{$button-ios-small-border-radius};
  --padding-top: #{$button-ios-small-padding-top};
  --padding-start: #{$button-ios-small-padding-start};
  --padding-end: #{$button-ios-small-padding-end};
  --padding-bottom: #{$button-ios-small-padding-bottom};

  height: #{$button-ios-small-height};

  font-size: #{$button-ios-small-font-size};
}


.line-button--vertical {
  --padding-top: #{$button-ios-padding-start};
  --padding-bottom: #{$button-ios-padding-end};

  height: unset;
}

.line-button--vertical.line-button--large {
  --padding-top: #{$button-ios-large-padding-start};
  --padding-bottom: #{$button-ios-large-padding-end};
}

.line-button--vertical.line-button--small {
  --padding-top: #{$button-ios-small-padding-start};
  --padding-bottom: #{$button-ios-small-padding-end};
}


// iOS Round Button
// --------------------------------------------------

.line-button--round {
  --border-radius: #{$button-ios-round-border-radius};
  --padding-top: #{$button-ios-round-padding-top};
  --padding-start: #{$button-ios-round-padding-start};
  --padding-end: #{$button-ios-round-padding-end};
  --padding-bottom: #{$button-ios-round-padding-bottom};
}


// iOS strong Button
// --------------------------------------------------

.line-button--strong {
  font-weight: #{$button-ios-strong-font-weight};
}


// iOS Button Focus
// --------------------------------------------------

@media (any-hover: hover) {
  .line-button--solid:hover {
    --opacity: #{$button-ios-opacity-hover};
  }

  .line-button--clear:hover,
  .line-button--outline:hover {
    --opacity: #{$button-ios-clear-opacity-hover};
  }

  // Since iOS changes the opacity on hover,
  // we want to keep the background if focused
  // or activated
  .line-button.line-focused:hover {
    --background-hover: var(--background-focused);
    --color-hover: var(--color-focused);
  }

  .line-button.line-activated:hover {
    --background-hover: var(--background-activated);
    --color-hover: var(--color-activated);
  }
}
