@import "./reorder.vars";

// Reorder
// --------------------------------------------------


.line-reorder.slot-start,
.line-reorder.slot-end {
  display: none;

  line-height: 0;

  z-index: 100;
}


// Reorder Icon
// --------------------------------------------------

.reorder-icon {
  display: block;

  font-size: 22px;
}
