@import "./fab-button";
@import "./fab-button.ios.vars";

// iOS FAB Button
// --------------------------------------------------

.line-fab-button {
  --background: #{$fab-ios-background-color};
  --background-activated: #{$fab-ios-background-color-activated};
  --background-focused: var(--background-activated);
  --color: #{$fab-ios-text-color};
  --color-activated: #{$fab-ios-text-color};
  --color-focused: var(--color-activated);
  --box-shadow: #{$fab-ios-box-shadow};
  --transition: #{$fab-ios-transition};
}

.line-fab-button.line-activated {
  --box-shadow: #{$fab-ios-box-shadow-activated};
  --transform: #{$fab-ios-transform};
  --transition: #{$fab-ios-transition-activated};
}

::slotted(line-icon),
.line-fab-button__indicator {
  font-size: $fab-ios-icon-font-size;
}

// FAB buttons in a list
// --------------------------------------------------

.line-fab-button.line-fab-button--in-list {
  --background: #{$fab-ios-list-button-background-color};
  --background-activated: #{$fab-ios-list-button-background-color-activated};
  --background-focused: var(--background-activated);
  --background-hover: #{$fab-ios-list-button-background-color-hover};
  --color: #{$fab-ios-list-button-text-color};
  --color-activated: #{$fab-ios-list-button-text-color};
  --color-focused: var(--color-activated);
  --transition: #{transform 200ms ease 10ms,
              opacity 200ms ease 10ms};
}

.line-fab-button.line-fab-button--in-list ::slotted(line-icon) {
  font-size: $fab-ios-list-button-icon-font-size;
}


// Translucent FAB buttons
// --------------------------------------------------

@supports (backdrop-filter: blur(0)) {
  .line-fab-button.line-fab-button--translucent {
    --background: #{line-color(primary, base, $fab-ios-translucent-background-alpha)};
    --background-hover: #{line-color(primary, base, $fab-ios-translucent-background-alpha-hover)};
    --background-focused: #{line-color(primary, base, $fab-ios-translucent-background-alpha-focused)};
    --backdrop-filter: #{$fab-ios-translucent-filter};
  }

  .line-fab-button.line-fab-button--translucent-in-list {
    --background: #{line-color(light, base, $fab-ios-translucent-background-alpha)};
    --background-hover: #{line-color(light, base, $fab-ios-translucent-background-alpha-hover)};
    --background-focused: #{line-color(light, base, $fab-ios-translucent-background-alpha-focused)};
  }
}

// Translucent FAB buttons with color
// --------------------------------------------------

@supports (backdrop-filter: blur(0)) {
  @media (any-hover: hover) {
    .line-fab-button.line-fab-button--translucent.line-color:hover .line-fab-button__content {
      background: #{current-color(base, $fab-ios-translucent-background-alpha-hover)};
    }
  }

  .line-fab-button.line-color.line-fab-button--translucent .line-fab-button__content {
    background: #{current-color(base, $fab-ios-translucent-background-alpha)};
  }

  .line-fab-button.line-color.line-focused.line-fab-button--translucent .line-fab-button__content,
  .line-fab-button.line-color.line-activated.line-fab-button--translucent .line-fab-button__content {
    background: #{current-color(base)};
  }
}