@import "./tab-button";
@import "./tab-button.ios.vars";

.line-tab-button {
  --padding-top: #{$tab-button-ios-padding-top};
  --padding-end: #{$tab-button-ios-padding-end};
  --padding-bottom: #{$tab-button-ios-padding-bottom};
  --padding-start: #{$tab-button-ios-padding-start};

  max-width: $tab-button-ios-max-width;

  font-size: $tab-button-ios-font-size;
}


// iOS Tab Button: Badge
// --------------------------------------------------

.line-tab-button .slotted.line-badge {
  @include padding(1px, 6px);
  @include position(4px, null, null, calc(50% + 6px));

  height: auto;

  font-size: 12px;

  line-height: 16px;
}


// iOS Tab Button: Icon
// --------------------------------------------------

.line-tab-button .slotted.line-icon {
  @include margin(2px, null, 2px, null);

  font-size: $tab-button-ios-icon-size;
}

.line-tab-button .slotted.line-icon::before {
  vertical-align: top;
}


// iOS Tab Button: Label
// --------------------------------------------------

.line-tab-button .slotted.line-label {
  @include margin(0, null, 1px, null);

  min-height: $tab-button-ios-font-size + 1;

  font-weight: 500;
}


// iOS Tab Button Label Only
// --------------------------------------------------

.line-tab-button.line-tab-button--has-label-only .slotted.line-label {
  @include margin(2px, 0);

  font-size: $tab-button-ios-font-size + 2;
  font-size: 14px;

  line-height: 1.1;
}


// iOS Tab Button Layout
// --------------------------------------------------

.line-tab-button.tab-layout-icon-end .slotted.line-label,
.line-tab-button.tab-layout-icon-start .slotted.line-label,
.line-tab-button.tab-layout-icon-hide .slotted.line-label {
  margin-top: 2px;
  margin-bottom: 2px;

  font-size: 14px;

  line-height: 1.1;
}

.line-tab-button.tab-layout-icon-end .slotted.line-icon,
.line-tab-button.tab-layout-icon-start .slotted.line-icon {
  min-width: 24px;
  height: 26px;

  margin-top: 2px;
  margin-bottom: 1px;

  font-size: 24px;
}


// iOS Tab Button: Icon Bottom Layout
// --------------------------------------------------

// Badge
.line-tab-button.tab-layout-icon-bottom .slotted.line-badge {
  @include position(null, null, null, calc(50% + 12px));
}

// Icon
.line-tab-button.tab-layout-icon-bottom .slotted.line-icon {
  @include margin(0, null, 1px, null);
}

// Label
.line-tab-button.tab-layout-icon-bottom .slotted.line-label {
  @include margin(4px, null, null, null);
}


// iOS Tab Button: Icon Start / End Layout
// --------------------------------------------------

.line-tab-button.tab-layout-icon-start .slotted.line-badge,
.line-tab-button.tab-layout-icon-end .slotted.line-badge {
  @include position(10px, null, null, calc(50% + 35px));
}


// iOS Tab Button: Icon Hide / Label Only Layout
// --------------------------------------------------------------

// Badge
.line-tab-button.tab-layout-icon-hide .slotted.line-badge,
.line-tab-button.line-tab-button--has-label-only .slotted.line-badge {
  @include position(10px, null, null, calc(50% + 30px));
}


// iOS Tab Button: Icon Only / Label Hide Layout
// --------------------------------------------------------------

// Badge
.line-tab-button.tab-layout-label-hide .slotted.line-badge,
.line-tab-button.line-tab-button--has-icon-only .slotted.line-badge {
  @include position(10px, null, null, null);
}

.line-tab-button.tab-layout-label-hide .slotted.line-icon {
  @include margin(0);
}
