@import "./action-sheet";
@import "./action-sheet.ios.vars";

// iOS Action Sheet
// ---------------------------------------------------

.line-action-sheet {
  --background: #{$action-sheet-ios-background-color};
  --background-selected: #{$action-sheet-ios-button-background-selected};
  --background-activated: #{$action-sheet-ios-button-background-activated};
  --backdrop-opacity: var(--line-backdrop-opacity, 0.4);

  text-align: $action-sheet-ios-text-align;
}

.line-action-sheet__wrapper {
  @include margin(var(--line-safe-area-top, 0), auto, var(--line-safe-area-bottom, 0), auto);
}


// iOS Action Sheet Container
// ---------------------------------------------------

.line-action-sheet__container {
  @include padding($action-sheet-ios-padding-top, $action-sheet-ios-padding-end, $action-sheet-ios-padding-bottom, $action-sheet-ios-padding-start);
}


// iOS Action Sheet Group
// ---------------------------------------------------

.line-action-sheet__group {
  @include border-radius($action-sheet-ios-border-radius);
  @include margin(null, null, $action-sheet-ios-group-margin-bottom - 2, null);

  overflow: hidden;
}

.line-action-sheet__group:first-child {
  @include margin($action-sheet-ios-group-margin-top, null, null, null);
}

.line-action-sheet__group:last-child {
  @include margin(null, null, $action-sheet-ios-group-margin-bottom, null);
}


// iOS Translucent Action Sheet
// ---------------------------------------------------

@supports (backdrop-filter: blur(0)) {
  .line-action-sheet--translucent .line-action-sheet__group {
    background-color: transparent;
    backdrop-filter: $action-sheet-ios-group-translucent-filter;
  }

  .line-action-sheet--translucent .line-action-sheet__title,
  .line-action-sheet--translucent .line-action-sheet__button {
    background-color: transparent;
    background-image:
      linear-gradient(0deg, $action-sheet-ios-translucent-background-color, $action-sheet-ios-translucent-background-color 100%),
      linear-gradient(0deg, $action-sheet-ios-translucent-border-color, $action-sheet-ios-translucent-border-color 50%, $action-sheet-ios-translucent-background-color 50%);
    background-repeat: no-repeat;

    /* stylelint-disable-next-line all */
    background-position: top, bottom;

    background-size: 100% calc(100% - 1px), 100% 1px;
    backdrop-filter: $action-sheet-ios-button-translucent-filter;
  }

  .line-action-sheet--translucent .line-action-sheet__button.line-activated {
    background-color: $action-sheet-ios-translucent-background-color-activated;
    background-image: none;
  }

  .line-action-sheet--translucent .line-action-sheet__cancel {
    background: var(--background-selected);
  }
}

// iOS Action Sheet Border
// ---------------------------------------------------
// Border is made with a linear gradient in order
// to get the proper color and iOS blur effect

.line-action-sheet__title,
.line-action-sheet__button {
  background-color: transparent;
  background-image: linear-gradient(0deg, $action-sheet-ios-button-border-color, $action-sheet-ios-button-border-color 50%, transparent 50%);
  background-repeat: no-repeat;

  /* stylelint-disable-next-line all */
  background-position: bottom;

  background-size: 100% 1px;
}


// iOS Action Sheet Title
// ---------------------------------------------------

.line-action-sheet__title {
  @include padding($action-sheet-ios-title-padding-top, $action-sheet-ios-title-padding-end, $action-sheet-ios-title-padding-bottom, $action-sheet-ios-title-padding-start);

  color: var(--color, $action-sheet-ios-title-color);

  font-size: $action-sheet-ios-title-font-size;
  font-weight: $action-sheet-ios-title-font-weight;

  text-align: $action-sheet-ios-text-align;
}

.line-action-sheet__sub-title {
  @include padding($action-sheet-ios-sub-title-padding-top, $action-sheet-ios-sub-title-padding-end, $action-sheet-ios-sub-title-padding-bottom, $action-sheet-ios-sub-title-padding-start);

  font-size: $action-sheet-ios-sub-title-font-size;
}


// iOS Action Sheet Buttons
// ---------------------------------------------------

.line-action-sheet__button {
  @include padding($action-sheet-ios-button-padding);

  height: $action-sheet-ios-button-height;

  color: var(--color, $action-sheet-ios-button-text-color);

  font-size: $action-sheet-ios-button-font-size;

  contain: strict;
}

.line-action-sheet__button .line-action-sheet__icon {
  @include margin-horizontal(null, $action-sheet-ios-button-icon-padding-right);

  font-size: $action-sheet-ios-button-icon-font-size;
}

// .line-action-sheet__button:last-child {
//   background-image: none;
// }

.line-action-sheet__button--selected {
  background: var(--background-selected);

  font-weight: bold;
}

.line-action-sheet__button--destructive {
  color: $action-sheet-ios-button-destructive-text-color;
}

.line-action-sheet__button--cancel {
  background: var(--background-selected);

  font-weight: $action-sheet-ios-button-cancel-font-weight;

  &::after {
    background: var(--button-background-selected);

    opacity: var(--button-background-selected-opacity);
  }
}


@media (any-hover: hover) {
  .line-action-sheet__button--destructive:hover {
    color: $action-sheet-ios-button-destructive-text-color;
  }
}
