@import "./list";
@import "./list.md.vars";

// Material Design List
// --------------------------------------------------

.line-list {
  @include margin($list-md-margin-top, $list-md-margin-end, $list-md-margin-bottom, $list-md-margin-start);
  @include padding($list-md-padding-top, $list-md-padding-end, $list-md-padding-bottom, $list-md-padding-start);

  background: $item-md-background;
}

.line-list > .input:last-child::after {
  @include position-horizontal(0, null);
}


// Material Design Inset List
// --------------------------------------------------

.line-list--inset {
  @include margin($list-inset-md-margin-top, $list-inset-md-margin-end, $list-inset-md-margin-bottom, $list-inset-md-margin-start);
  @include border-radius($list-inset-md-border-radius);
}

.line-list--inset .line-item:first-child {
  --border-radius: #{$list-inset-md-border-radius $list-inset-md-border-radius 0 0};
  --border-width: #{0 0 $item-md-border-bottom-width 0};
}

.line-list--inset .line-item:last-child {
  --border-radius: #{0 0 $list-inset-md-border-radius, $list-inset-md-border-radius};
  --border-width: 0;
}

.line-list--inset .item-interactive {
  --padding-start: 0;
  --padding-end: 0;
}

.line-list--inset + .line-list--inset {
  @include margin(0, null, null, null);
}


// Material Design No Lines List
// --------------------------------------------------

.line-list--lines-none .line-item,
.line-list--lines-none .line-item-divider,
.line-list--lines-none .line-item-group {
  --border-width: 0;
  --inner-border-width: 0;
}

// Material Design Full Lines List
// --------------------------------------------------

.line-list--lines-full .line-item,
.line-list--lines-full .line-item-divider,
.line-list--lines-full .line-item-group,
.line-list .item-lines-full {
  --border-width: #{0 0 $list-md-item-border-bottom-width 0};
}

.line-list--lines-full .line-item,
.line-list--lines-full .line-item-divider,
.line-list--lines-full .line-item-group {
  --inner-border-width: 0;
}


// Material Design Inset Lines List
// --------------------------------------------------

.line-list--lines-inset .line-item,
.line-list--lines-inset .line-item-divider,
.line-list--lines-inset .line-item-group,
.line-list .item-lines-inset {
  --inner-border-width: #{0 0 $list-md-item-border-bottom-width 0};
}

// Remove the border from items in lists
// if they are explicitly styled by the item
// to be different than the list
.line-list .item-lines-inset {
  --border-width: 0;
}

.line-list .item-lines-full {
  --inner-border-width: 0;
}

.line-list .item-lines-none {
  --border-width: 0;
  --inner-border-width: 0;
}


// Material Design List Inside A Card
// --------------------------------------------------

.line-card .line-list {
  @include margin(0);
}
