@import "../../themes/skyline.globals";

// Segment
// --------------------------------------------------

.line-segment {
  /**
   * @prop --background: Background of the segment button
   */
  --ripple-color: currentColor;

  @include font-smoothing();

  display: flex;

  position: relative;

  align-items: stretch;
  justify-content: center;

  width: 100%;

  background: var(--background);

  font-family: $font-family-base;

  text-align: center;

  contain: paint;
}


// Segment: Scrollable
// --------------------------------------------------

.line-segment.segment-scrollable {
  justify-content: start;

  width: auto;

  overflow-x: auto;
}

.line-segment.segment-scrollable::-webkit-scrollbar {
  display: none;
}
