@import './dropdown.vars';

// Dropdown
// --------------------------------------------------

.line-dropdown {
  --color: initial;
  --background: #ffffff;
  --backdrop-opacity: var(--line-backdrop-opacity, 0.4);
  --button-background-hover: currentColor;
  --button-background-hover-opacity: 0.04;
  --button-color: #{$dropdown-ios-button-text-color};
  --button-color-activated: var(--button-color);
  --button-color-focused: var(--button-color);
  --button-color-hover: var(--button-color);
  --button-color-selected: var(--button-color);

  max-width: 80%;

  padding: 10px 0;
  margin: 5px 0;

  background-color: var(--background);

  border: 1px solid #ebeef5;
  border-radius: 4px;

  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.line-dropdown__content {
  list-style-type: none;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  padding-inline-start: 0;
}

.line-dropdown-item {
  position: relative;

  list-style: none;

  line-height: 48px;

  padding: 0 26px;
  margin: 0;

  font-size: 14px;

  color: #606266;

  cursor: pointer;

  outline: none;
}

.line-dropdown-item__inner {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.line-dropdown-item::after {
  @include button-state();
}

// Dropdown: Hover
// --------------------------------------------------

@media (any-hover: hover) {
  .line-dropdown .line-dropdown-item:hover {
    color: var(--button-color-hover);

    &::after {
      background: var(--button-background-hover);

      opacity: var(--button-background-hover-opacity);
    }
  }
}
