$overlay-color: #000000 !default;
$overlay-z-index: 2 !default;

.line {
  &-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: translateZ(0);

    transition: 1.3s cubic-bezier(0.25, 0.8, 0.5, 1), z-index 1ms;

    border-radius: inherit;

    background-color: $overlay-color;

    cursor: auto;
    opacity: 0;
    touch-action: none;
    // z-index: $overlay-z-index;

    &--dim {
      opacity: 0.46;
    }
  }
}