$overlay-color: rgba(0, 0, 0, 0.5) !default;
$overlay-z-index: 2 !default;

.line {
  &-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    transform: translateZ(0);

    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), z-index 1ms;
    // pointer-events: none;

    border-radius: inherit;

    background-color: $overlay-color;

    contain: strict;
    cursor: pointer;
    touch-action: none;
    z-index: $overlay-z-index;

    &--hide {
      background: transparent;
    }

    &--no-tappable {
      cursor: auto;
    }
  }
}