@import "./overlay.vars";

.line {
  &-overlay {
    @include position(0, 0, 0, 0);

    display: block;
    position: absolute;
  
    transform: translateZ(0);
  
    contain: strict;
    cursor: pointer;
    opacity: .4;
    touch-action: none;
    z-index: $z-index-backdrop;

    &--hide {
      background: transparent;
    }
    
    &--no-tappable {
      cursor: auto;
    }
  }
}