@import "./tab-button";
@import "./tab-button.md.vars";

// Material Design Tab Button
// --------------------------------------------------------------

.line-tab-button {
  --padding-top: #{$tab-button-md-padding-top};
  --padding-end: #{$tab-button-md-padding-end};
  --padding-bottom: #{$tab-button-md-padding-bottom};
  --padding-start: #{$tab-button-md-padding-start};

  max-width: 168px;

  font-size: $tab-button-md-font-size;
  font-weight: $tab-button-md-font-weight;

  letter-spacing: $tab-button-md-letter-spacing;
}


// Material Design Tab Button: Label
// --------------------------------------------------------------

.line-tab-button .slotted.line-label {
  @include margin($tab-button-md-text-margin-top, $tab-button-md-text-margin-end, $tab-button-md-text-margin-bottom, $tab-button-md-text-margin-start);

  text-transform: $tab-button-md-text-capitalization;
}


// Material Design Tab Button: Icon
// --------------------------------------------------------------

.line-tab-button .slotted.line-icon {
  @include margin($tab-button-md-icon-margin-top, $tab-button-md-icon-margin-end, $tab-button-md-icon-margin-bottom, $tab-button-md-icon-margin-start);
  @include transform-origin(center, center);

  font-size: $tab-button-md-icon-size;
}

// Material Design Tab Button: Badge
// --------------------------------------------------------------

.line-tab-button .slotted.line-badge {
  @include border-radius($tab-button-md-badge-border-radius);
  @include padding($tab-button-md-badge-padding-top, $tab-button-md-badge-padding-end, $tab-button-md-badge-padding-bottom, $tab-button-md-badge-padding-start);
  @include position(8px, null, null, calc(50% + 6px));

  min-width: $tab-button-md-badge-min-width;

  font-size: $tab-button-md-badge-font-size;

  font-weight: normal;
}

.line-tab-button .slotted.line-badge:empty {
  display: block;

  min-width: $tab-button-md-badge-size-empty;

  height: $tab-button-md-badge-size-empty;
}


// Material Design Tab Button: Icon Top Layout
// --------------------------------------------------------------

// Icon
.line-tab-button.tab-layout-icon-top .slotted.line-icon {
  @include margin(6px, null, 2px, null);
}

// Label
.line-tab-button.tab-layout-icon-top .slotted.line-label {
  @include margin(0, null, 6px, null);
}


// Material Design Tab Button: Icon Bottom Layout
// --------------------------------------------------------------

// Badge
.line-tab-button.tab-layout-icon-bottom .slotted.line-badge {
  @include position(8px, null, null, 70%);
}

// Icon
.line-tab-button.tab-layout-icon-bottom .slotted.line-icon {
  @include margin(0, null, 6px, null);
}

// Label
.line-tab-button.tab-layout-icon-bottom .slotted.line-label {
  @include margin(6px, null, 0, null);
}


// Material Design Tab Button: Icon Start / Icon End Layout
// --------------------------------------------------------------

// Badge
.line-tab-button.tab-layout-icon-start .slotted.line-badge,
.line-tab-button.tab-layout-icon-end .slotted.line-badge {
  @include position(16px, null, null, 80%);
}

// Icon
.line-tab-button.tab-layout-icon-start .slotted.line-icon {
  @include margin(null, 6px, null, null);
}

// Icon
.line-tab-button.tab-layout-icon-end .slotted.line-icon {
  @include margin(null, null, null, 6px);
}


// Material Design Tab Button: Icon Hide / Label Only Layout
// --------------------------------------------------------------

// Badge
.line-tab-button.tab-layout-icon-hide .slotted.line-badge,
.line-tab-button.line-tab-button--has-label-only .slotted.line-badge {
  @include position(16px, null, null, 70%);
}

// Label
.line-tab-button.tab-layout-icon-hide .slotted.line-label,
.line-tab-button.line-tab-button--has-label-only .slotted.line-label {
  @include margin(0, null, 0, null);
}


// Material Design Tab Button: Icon Only / Label Hide Layout
// --------------------------------------------------------------

// Badge
.line-tab-button.tab-layout-label-hide .slotted.line-badge,
.line-tab-button.line-tab-button--has-icon-only .slotted.line-badge {
  @include position(16px, null, null, null);
}

// Icon
.line-tab-button.tab-layout-label-hide .slotted.line-icon,
.line-tab-button.line-tab-button--has-icon-only .slotted.line-icon {
  @include margin(0, null, 0, null);

  font-size: 24px;
}
