@import "../../themes/skyline.globals";

// Button
// --------------------------------------------------

/// @prop - Padding top of the tooltip
$tooltip-padding-top:           0 !default;

/// @prop - Padding bottom of the tooltip
$tooltip-padding-bottom:        0 !default;

/// @prop - Padding start of the tooltip
$tooltip-padding-start:         0 !default;

/// @prop - Padding end of the tooltip
$tooltip-padding-end:           0 !default;